@import "colors";

body {
  font-size: 125%;
}

ul, li,
h1, h2, 
h3, h4, 
h5, h6,
figure,
p,
span,
a {
  padding: 0;
  margin: 0;
} 

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  @include mq-tablet {
    width: 95%;
  }
  
}

h2, label {
    text-transform: uppercase;
}

h2 {
    font-weight: 400;
    padding: 50px 0px;
    font-size: 2.5rem;
    @include mq-tablet {
      text-align: center;      
    }
    @include mq-mobile {
    font-size: 2rem;
  }
  }

label {
  font-size: 1.5rem;
  
}

fieldset {
  border: none;
}

a { 
  text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: $primaryColor;
    border:none;
    padding: 10px 60px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    letter-spacing: 2px;
    &:hover {
      background-color: lighten($primaryColor, 20%);
    }
    &:active {
      background-color: darken($primaryColor, 10%);
    }
    @include mq-mobile {
      width: 100%;
      padding: 10px 15px;

    }
    }