body {
  font-size: 125%;
  background-image: url(../assets/body-bg.png);
}

ul, li,
h1, h2, 
h3, h4, 
h5, h6,
figure,
p,
span,
a {
  padding: 0;
  margin: 0;
} 

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
}

h2, label {
    text-transform: uppercase;
}

h2 {
    font-weight: 400;
    padding: 50px 0px;
    font-size: 2.2rem;
  }

label {
  font-size: 1.5rem;
}

fieldset {
  border: none;
}