.headerMain {
  background-image: url(../assets/headerBackgroundImage.png);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.nameText {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  h1 {
  font-size: 4.8rem;
  color: $primaryColor;
  font-family: 'Permanent Marker', sans-serif;
  text-transform: uppercase;
  text-shadow: 4px 3px 5px #000;
  @include mq-mobile {
    font-size: 3.5rem;
  }
}
  h2 {
  text-shadow: 4px 3px 5px #000;
    width: 50%;
    color:#fff;
    @include mq-mobile {
      width: 100%;
    }
  }
}

.speakerImage {
  display: flex;
  justify-content: space-between;
  img {
    max-width: 20%;
    min-height: 150px;
    max-height:300px;
    @include mq-mobile {
      display: none;
    }
  }
  
}
